data/stands.csv
data/stands_.csv
data/emerald_largedata/
data/large_data/
data/equitysilver_largedata
data/redchris_largedata/
data/goldenbear_largedata/
tobedeleted/
extra_codes/
scenarios/hwp1_dis1/hwp1_dis1_em_st_v1/
outputs/hwp1_dis1/hwp1_dis1_em_st_v1/
